*{
    box-sizing: border-box;
    font-family: 標楷體;
    font-weight: lighter;
}
body{
    margin: 0px;
    background-color: #262626;
    color: #ffffff;
}
header{
    text-align: center;
    padding: 25px;
    border: 2px solid black;
}

/*funds and purchases/funds/approve*/
#FundsAndPurchases{
    display: block;
}
#FundsAndPurchases:hover #Funds{
    display: block;
}
#Funds{
    display: none;
    background-color: #4c4c4c;
}
#Funds:hover #Approve{
    display: block;
}
#Approve{
    display: none;
    background-color: #606060;
}
#Approve:hover #PetitionToApprove{
    display: block;
}
#Approve:hover #LetterOfApproval{
    display: block;
}
#PetitionToApprove{
    display: none;
    background-color: #757575;
}
#PetitionToApprove:hover #PetitionToApproveTypes{
    display: block;
}
#PetitionToApproveTypes{
    display: none;
    background-color: #8a8a8a;
}
#LetterOfApproval{
    display: none;
    background-color: #757575;
}
#LetterOfApproval:hover #LetterOfApprovalTypes{
    display: block;
}
#LetterOfApprovalTypes{
    display: none;
    background-color: #8a8a8a;
}

/*funds and purchases/funds/appropriate

/*Construction supervision and examination*/
#ConstructionSupervisionAndExamination{
    display: block;
}
#ConstructionSupervisionAndExamination:hover #SuperVision{
    display: block;
}
#SuperVision{
    display: none;
}

.navigation-bar p{
    float: left;
    color:#ffffff;
    background-color: #383838;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
}
.navigation-bar ul{
    list-style-type: none;
    background-color: #383838;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navigation-bar li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}
.navigation-bar li a:hover{
    background-color: rgb(40, 95, 95);
}

.dropdown{
    display: block;
    float: left;
    text-align: center;
}
/*
.dropdown .secondDrop{
    display: none;
    text-align: center;
}
.dropdown:hover .secondDrop{
    display: block;
    background-color: dimgray;
}
.dropdown .secondDrop .thirdDrop{
    display: none;
}
.dropdown .secondDrop:hover .thirdDrop{
    display: block;
    float: inline-end;
}
*/








aside{
    width:20%;
    float: left;
    padding: 10px;
}
section{
    width:40%;
    float: left;
    padding: 10px;
}
article{
    width:40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(207, 100%, 95%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width:100%;
    }
    /*it's also known as responsive css*/
}
