*{
    box-sizing: border-box;
    font-family: Iansui;
}
body{
    margin: 0px;
    background-color: #262626;
    color: ghostwhite;
}
header{
    align-items: left;
    padding: 10px;
    display: inline;
}
a{
    color: ghostwhite;
}
a:visited{
    color: ghostwhite;
}

.dropOne{
    background-color: #383838;
    display: inline-flex;
    color: ghostwhite;
    &:hover .dropTwo{
        display: block;
    }
}

.dropTwo{
    background-color: #4c4c4c;
    display: none;
    position: relative;
    &:hover .dropThree{
        display: block;
    }
}

.dropThree{
    background-color: #606060;
    display: none;
    position: sticky;
    left: 0;
    &:hover .dropFour{
        display: block;
    }
}

.dropFour{
    background-color: #757575;
    display: none;
    position: sticky;
    left: 0;
    &:hover .dropFive{
        display: block;
    }
}

.dropFive{
    background-color: #8a8a8a;
    display: none;
    position: sticky;
    left: 0;
}