@font-face {
    font-family: Iansui;
    src: url('../fonts/Iansui.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: iansui;
    background-color: #353839;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #47494a;
    color: aliceblue;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#title {
    text-align: center;
}

#caution{
    text-align: center;
    color: aquamarine;
}
#selectApproveTypes{
    display: none;
}

/*隱藏核定態樣一*/
#selectApproveType1Kinds{
    display: none;
}
#approveType1Controls{
    display: none;
}
/*隱藏核定態樣一純工程簽稿-簽*/
#approveType1BothPAndL{
    display: none;
}
#approveType1BothPAndLPContent{
    display: none;
}
#approveType1BothPAndLPKeyInputs{
    display: none;
}
#approveType1BothPAndLPConditions{
    display: none;
}
#approveType1BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType1BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣一純工程簽稿-稿*/
#approveType1BothPAndLLContent{
    display: none;
}
#approveType1BothPAndLLKeyInputs{
    display: none;
}
#approveType1BothPAndLLConditions{
    display: none;
}
#approveType1BothPAndLLBudgetReview{
    display: none;
}
#approveType1BothPAndLLManagementFeeYear{
    display: none;
}

/*隱藏核定態樣一純工程簽*/
#approveType1Petition{
    display: none;
}
#approveType1PetitionKeyInputs{
    display: none;
}
#approveType1PetitionConditions{
    display: none;
}
#approveType1PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType1PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣一純工程稿*/
#approveType1Letter{
    display: none;
}
#approveType1LetterContent{
    display: none;
}
#approveType1LetterKeyInputs{
    display: none;
}
#approveType1LetterConditions{
    display: none;
}
#approveType1LetterReviewYearWhen{
    display: none;
}
#approveType1LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType1LetterAdditionalInfoSuggestedAmount{
    display: none;
}


/*隱藏核定態樣二*/
#selectApproveType2Kinds{
    display: none;
}
#approveType2Controls{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-簽*/
#approveType2BothPAndL{
    display: none;
}
#approveType2BothPAndLPContent{
    display: none;
}
#approveType2BothPAndLPKeyInputs{
    display: none;
}
#approveType2BothPAndLPConditions{
    display: none;
}
#approveType2BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType2BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-稿*/
#approveType2BothPAndLLContent{
    display: none;
}
#approveType2BothPAndLLKeyInputs{
    display: none;
}
#approveType2BothPAndLLConditions{
    display: none;
}
#approveType2BothPAndLLBudgetReview{
    display: none;
}
#approveType2BothPAndLLManagementFeeYear{
    display: none;
}

/*隱藏核定態樣二純工程簽*/
#approveType2Petition{
    display: none;
}
#approveType2PetitionKeyInputs{
    display: none;
}
#approveType2PetitionConditions{
    display: none;
}
#approveType2PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType2PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程稿*/
#approveType2Letter{
    display: none;
}
#approveType2LetterContent{
    display: none;
}
#approveType2LetterKeyInputs{
    display: none;
}
#approveType2LetterConditions{
    display: none;
}
#approveType2LetterReviewYearWhen{
    display: none;
}
#approveType2LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType2LetterAdditionalInfoSuggestedAmount{
    display: none;
}

/*隱藏核定態樣三*/
#selectApproveType3Kinds{
    display: none;
}
#approveType3Controls{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-簽*/
#approveType3BothPAndL{
    display: none;
}
#approveType3BothPAndLPContent{
    display: none;
}
#approveType3BothPAndLPKeyInputs{
    display: none;
}
#approveType3BothPAndLPConditions{
    display: none;
}
#approveType3BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType3BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-稿*/
#approveType3BothPAndLLContent{
    display: none;
}
#approveType3BothPAndLLKeyInputs{
    display: none;
}
#approveType3BothPAndLLConditions{
    display: none;
}
#approveType3BothPAndLLBudgetReview{
    display: none;
}
#approveType3BothPAndLLManagementFeeYear{
    display: none;
}

/*隱藏核定態樣三純工程簽*/
#approveType3Petition{
    display: none;
}
#approveType3PetitionKeyInputs{
    display: none;
}
#approveType3PetitionConditions{
    display: none;
}
#approveType3PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType3PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程稿*/
#approveType3Letter{
    display: none;
}
#approveType3LetterContent{
    display: none;
}
#approveType3LetterKeyInputs{
    display: none;
}
#approveType3LetterConditions{
    display: none;
}
#approveType3LetterReviewYearWhen{
    display: none;
}
#approveType3LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType3LetterAdditionalInfoSuggestedAmount{
    display: none;
}

/*隱藏核定態樣二含設備簽稿*/
/*隱藏核定態樣二含設備簽*/
/*隱藏核定態樣二含設備稿*/
/*隱藏核定態樣三純設備簽稿*/
/*隱藏核定態樣三純設備簽*/
/*隱藏核定態樣三純設備稿*/


#selectAppropriateTypes{
    display: none;
}

#selectPreparedFundTypes{
    display: none;
}





.blank {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}



#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

/*buttons*/
.button{
    display: inline-block;
    background-color: #696969;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    right: 0;
    top: 0;
}

.button:hover{
    background-color: #2d2f30;
}

.button a{
    color: aliceblue;
    text-decoration: none;
}

.button a:visited{
    color: aliceblue;
}

#generalConfig{
    text-align: left;
}

#conditions{
    text-align: left;
}

#additionalInfoSourceAdjust{
    display: none;
}

#additionalInfoSuggestedAmount{
    display: none;
}






#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover {
    background-color: #0056b3;
}