@font-face {
    font-family: Iansui;
    src: url('../fonts/Iansui.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: iansui;
    background-color: #353839;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #47494a;
    color: aliceblue;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#title {
    text-align: center;
}

#caution{
    text-align: center;
    color: aquamarine;
}

/*隱藏核定態樣*/
#approveContainer{
    display: none;
}
#selectApproveTypes{
    display: none;
}
/*隱藏核定態樣一*/
#selectApproveType1Kinds{
    display: none;
}
#approveType1Controls{
    display: none;
}
/*隱藏核定態樣一純工程簽稿-簽*/
#approveType1BothPAndL{
    display: none;
}
#approveType1BothPAndLPContent{
    display: none;
}
#approveType1BothPAndLPKeyInputs{
    display: none;
}
#approveType1BothPAndLPConditions{
    display: none;
}
#approveType1BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType1BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣一純工程簽稿-稿*/
#approveType1BothPAndLLContent{
    display: none;
}
#approveType1BothPAndLLKeyInputs{
    display: none;
}
#approveType1BothPAndLLConditions{
    display: none;
}
#approveType1BothPAndLLBudgetReview{
    display: none;
}
#approveType1BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核定態樣一純工程簽*/
#approveType1Petition{
    display: none;
}
#approveType1PetitionKeyInputs{
    display: none;
}
#approveType1PetitionConditions{
    display: none;
}
#approveType1BothPAndLPAdditionalInfoYearEnd{
    display: none;
}
#approveType1PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType1PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣一純工程稿*/
#approveType1Letter{
    display: none;
}
#approveType1LetterContent{
    display: none;
}
#approveType1LetterKeyInputs{
    display: none;
}
#approveType1LetterConditions{
    display: none;
}
#approveType1LetterReviewYearWhen{
    display: none;
}
#approveType1LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType1LetterAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二*/
#selectApproveType2Kinds{
    display: none;
}
#approveType2Controls{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-簽*/
#approveType2BothPAndL{
    display: none;
}
#approveType2BothPAndLPContent{
    display: none;
}
#approveType2BothPAndLPKeyInputs{
    display: none;
}
#approveType2BothPAndLPConditions{
    display: none;
}
#approveType2BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType2BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-稿*/
#approveType2BothPAndLLContent{
    display: none;
}
#approveType2BothPAndLLKeyInputs{
    display: none;
}
#approveType2BothPAndLLConditions{
    display: none;
}
#approveType2BothPAndLLBudgetReview{
    display: none;
}
#approveType2BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核定態樣二純工程簽*/
#approveType2Petition{
    display: none;
}
#approveType2PetitionKeyInputs{
    display: none;
}
#approveType2PetitionConditions{
    display: none;
}
#approveType2PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType2PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程稿*/
#approveType2Letter{
    display: none;
}
#approveType2LetterContent{
    display: none;
}
#approveType2LetterKeyInputs{
    display: none;
}
#approveType2LetterConditions{
    display: none;
}
#approveType2LetterReviewYearWhen{
    display: none;
}
#approveType2LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType2LetterAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三*/
#selectApproveType3Kinds{
    display: none;
}
#approveType3Controls{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-簽*/
#approveType3BothPAndL{
    display: none;
}
#approveType3BothPAndLPContent{
    display: none;
}
#approveType3BothPAndLPKeyInputs{
    display: none;
}
#approveType3BothPAndLPConditions{
    display: none;
}
#approveType3BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#approveType3BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-稿*/
#approveType3BothPAndLLContent{
    display: none;
}
#approveType3BothPAndLLKeyInputs{
    display: none;
}
#approveType3BothPAndLLConditions{
    display: none;
}
#approveType3BothPAndLLBudgetReview{
    display: none;
}
#approveType3BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核定態樣三純工程簽*/
#approveType3Petition{
    display: none;
}
#approveType3PetitionKeyInputs{
    display: none;
}
#approveType3PetitionConditions{
    display: none;
}
#approveType3PetitionadditionalInfoSourceAdjust{
    display: none;
}
#approveType3PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程稿*/
#approveType3Letter{
    display: none;
}
#approveType3LetterContent{
    display: none;
}
#approveType3LetterKeyInputs{
    display: none;
}
#approveType3LetterConditions{
    display: none;
}
#approveType3LetterReviewYearWhen{
    display: none;
}
#approveType3LetterAdditionalInfoSourceAdjust{
    display: none;
}
#approveType3LetterAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核撥態樣*/
#appropriateContainer{
    display: none;
}
#selectAppropriateTypes{
    display: none;
}
/*隱藏核撥態樣一*/
#selectAppropriateType1Kinds{
    display: none;
}
#appropriateType1Controls{
    display: none;
}
/*隱藏核撥態樣一純工程簽稿-簽*/
#appropriateType1BothPAndL{
    display: none;
}
#appropriateType1BothPAndLPContent{
    display: none;
}
#appropriateType1BothPAndLPKeyInputs{
    display: none;
}
#appropriateType1BothPAndLPConditions{
    display: none;
}
#appropriateType1BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType1BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核撥態樣一純工程簽稿-稿*/
#appropriateType1BothPAndLLContent{
    display: none;
}
#appropriateType1BothPAndLLKeyInputs{
    display: none;
}
#appropriateType1BothPAndLLConditions{
    display: none;
}
#appropriateType1BothPAndLLBudgetReview{
    display: none;
}
#appropriateType1BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核撥態樣一純工程簽*/
#appropriateType1Petition{
    display: none;
}
#appropriateType1PetitionKeyInputs{
    display: none;
}
#appropriateType1PetitionConditions{
    display: none;
}
#appropriateType1PetitionadditionalInfoSourceAdjust{
    display: none;
}
#appropriateType1PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核撥態樣一純工程稿*/
#appropriateType1Letter{
    display: none;
}
#appropriateType1LetterContent{
    display: none;
}
#appropriateType1LetterKeyInputs{
    display: none;
}
#appropriateType1LetterConditions{
    display: none;
}
#appropriateType1LetterReviewYearWhen{
    display: none;
}
#appropriateType1LetterAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType1LetterAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核撥態樣二*/
#selectAppropriateType2Kinds{
    display: none;
}
#appropriateType2Controls{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-簽*/
#appropriateType2BothPAndL{
    display: none;
}
#appropriateType2BothPAndLPContent{
    display: none;
}
#appropriateType2BothPAndLPKeyInputs{
    display: none;
}
#appropriateType2BothPAndLPConditions{
    display: none;
}
#appropriateType2BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType2BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程簽稿-稿*/
#appropriateType2BothPAndLLContent{
    display: none;
}
#appropriateType2BothPAndLLKeyInputs{
    display: none;
}
#appropriateType2BothPAndLLConditions{
    display: none;
}
#appropriateType2BothPAndLLBudgetReview{
    display: none;
}
#appropriateType2BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核定態樣二純工程簽*/
#appropriateType2Petition{
    display: none;
}
#appropriateType2PetitionKeyInputs{
    display: none;
}
#appropriateType2PetitionConditions{
    display: none;
}
#appropriateType2PetitionadditionalInfoSourceAdjust{
    display: none;
}
#appropriateType2PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣二純工程稿*/
#appropriateType2Letter{
    display: none;
}
#appropriateType2LetterContent{
    display: none;
}
#appropriateType2LetterKeyInputs{
    display: none;
}
#appropriateType2LetterConditions{
    display: none;
}
#appropriateType2LetterReviewYearWhen{
    display: none;
}
#appropriateType2LetterAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType2LetterAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三*/
#selectAppropriateType3Kinds{
    display: none;
}
#appropriateType3Controls{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-簽*/
#appropriateType3BothPAndL{
    display: none;
}
#appropriateType3BothPAndLPContent{
    display: none;
}
#appropriateType3BothPAndLPKeyInputs{
    display: none;
}
#appropriateType3BothPAndLPConditions{
    display: none;
}
#appropriateType3BothPAndLPAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType3BothPAndLPAdditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程簽稿-稿*/
#appropriateType3BothPAndLLContent{
    display: none;
}
#appropriateType3BothPAndLLKeyInputs{
    display: none;
}
#appropriateType3BothPAndLLConditions{
    display: none;
}
#appropriateType3BothPAndLLBudgetReview{
    display: none;
}
#appropriateType3BothPAndLLManagementFeeYear{
    display: none;
}
/*隱藏核定態樣三純工程簽*/
#appropriateType3Petition{
    display: none;
}
#appropriateType3PetitionKeyInputs{
    display: none;
}
#appropriateType3PetitionConditions{
    display: none;
}
#appropriateType3PetitionadditionalInfoSourceAdjust{
    display: none;
}
#appropriateType3PetitionadditionalInfoSuggestedAmount{
    display: none;
}
/*隱藏核定態樣三純工程稿*/
#appropriateType3Letter{
    display: none;
}
#appropriateType3LetterContent{
    display: none;
}
#appropriateType3LetterKeyInputs{
    display: none;
}
#appropriateType3LetterConditions{
    display: none;
}
#appropriateType3LetterReviewYearWhen{
    display: none;
}
#appropriateType3LetterAdditionalInfoSourceAdjust{
    display: none;
}
#appropriateType3LetterAdditionalInfoSuggestedAmount{
    display: none;
}

/*隱藏準備金態樣*/
#preparedFundContainer{
    display: none;
}
#selectPreparedFundTypes{
    display: none;
}
/*隱藏準備金態樣一*/
#preparedFundType1Content{
    display: none;
}
#preparedFundType1KeyInputs{
    display: none;
}
/*隱藏準備金態樣二*/
#preparedFundType2Content{
    display: none;
}
#preparedFundType2KeyInputs{
    display: none;
}



.blank {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}



#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

/*buttons*/
.button{
    display: inline-block;
    background-color: #696969;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    right: 0;
    top: 0;
}

.button:hover{
    background-color: #2d2f30;
}

.button a{
    color: aliceblue;
    text-decoration: none;
}

.button a:visited{
    color: aliceblue;
}

#generalConfig{
    text-align: left;
}

#conditions{
    text-align: left;
}

#additionalInfoSourceAdjust{
    display: none;
}

#additionalInfoSuggestedAmount{
    display: none;
}






#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover {
    background-color: #0056b3;
}